@import "~normalize.css";

@import "_variables";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
// body {
//   background: #3B7455;
// }

.announcement-bar {
  background-color: #222222;
  height: 84px;
  color: #ffeed6;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
	position: fixed;
	top: 0;
}

.home {
  background-image: url("../assets/img/wallpaperflare.com_wallpaper.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
}

.logo {
  font-size: 40px;
  font-weight:900
}

.announcement-bar__navigation {
  width: 250px;
  font-size: 20px;
}

.navigation__link {
  padding-left: 16px;
  color: #f2f2f2f2;
}



.announcement-bar__links{
  width: 250px;
  font-size: 20px;
  display: flex;
  justify-content: end;
}

.socials {
  display: flex;
}

.socials__icon {
  filter: invert(92%) sepia(4%) saturate(1385%) hue-rotate(338deg) brightness(101%) contrast(103%);
  color: white;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}


.tour {
  min-height: 100vh;
  background-color: #ffeed6;
}